<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Strings</string>
	<key>Pages</key>
	<array>
		<string>Page1.playgroundpage</string>
		<string>Page2.playgroundpage</string>
		<string>Page3.playgoundpage</string>
		<string>Page4.playgoundpage</string>
		<string>Page5.playgoundpage</string>
		<string>Page6.playgoundpage</string>
		<string>Page7.playgoundpage</string>
		<string>Page8.playgoundpage</string>
		<string>Page9.playgoundpage</string>
		<string>Page10.playgoundpage</string>
		<string>Page11.playgoundpage</string>
		<string>Page12.playgoundpage</string>
		<string>Page13.playgoundpage</string>
		<string>Page14.playgoundpage</string>
		<string>Page15.playgoundpage</string>
	</array>
</dict>
</plist>
